<%= render "shared/navbar" %>
<%= render 'shared/banner-user' %>
<div class="profile-info">
<h1 class= 'profile-title'>Armário do <%= @profile.first_name %> <%= @profile.last_name %></h1>
</div>

<% if current_user %>
  <%= link_to 'Adicionar um novo produto', new_product_path, class: 'btn btn-primary add-product' %>
<% end%>

<div class="info-available">
</div>
<div class="info-not-available"></div>

<div class="row">
  <% @profile.products.each do |product|  %>
    <%product.photos.each do |photo|%>
      <div class="col-xs-12 col-md-4">
        <%= cl_image_tag(photo.key, class: 'square-image') %>
      </div>
    <%end%>
  <%end%>
</div>
<br><br><br><br><br>

<%# link_to review %>