<%= render "shared/navbar" %>
<%= render 'shared/banner-user' %>

<div class="row d-flex mb-3">
  <div class="profile-info d-inline-flex justify-content-between align-items-center col-12">
    <div>
      <h1 class= 'profile-title ml-4'>Armário do <%= @profile.first_name %> <%= @profile.last_name %></h1>
    </div>
    <div>
      <% if current_user == @profile %>
        <%= link_to 'Adicionar um novo produto', new_product_path, class: 'btn btn-primary add-product mr-4' %>
      <% end%>
    </div>
  </div>
</div>

<div class="info-available"></div>
<div class="info-not-available"></div>

<div class="row d-flex">
  <% @profile.products.order('created_at DESC').each do |product|  %>
       
      <div class="d-flex img-profile col-4">
        <%= cl_image_tag(product.photos.first.key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ') %>
        <div class=" btn-edit-delete-container"> 
          <%if current_user == product.user%>
            <div class="edit-delete-btn">
              <%=link_to 'Edit', edit_product_path(product), class: 'btn btn-light btn-img-profile' %>
              <%=link_to 'Delete', product_path(product), method: :delete, class: 'btn btn-danger btn-img-profile mr-2' %>
            </div>
          <%end%>
        </div>
      </div>
  <%end%>
</div>
<br><br><br><br><br>

<%# link_to review %>