<%= render "shared/navbar" %>
<div class="container">

  <div class="row justify-content-center"> 

    <div class="banner-user", style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(128,128,128,0.1)), 
                                     url('<%= cl_image_path('https://res.cloudinary.com/dn6lyapiu/image/upload/v1614297855/19b4e287eb1ce10fd2ffc4c97d82612b_1_hgp1qt.gif')%>')"> 
                                                                     
      <div class="col-10 d-flex align-items-end", style="height: 100px; padding: 0px;">
        <div class="banner-armario ">
          <h1 class= 'profile-title'>Armário de <%= @profile.first_name %></h1>
          <p class='profile-description'><%= @rating %></p>
        </div>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <div class="avatar-large">
        <% if @profile.photo.present? %>
          <%= cl_image_tag @profile.photo.key, class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "avatar-large" %>
        <% end %>
      </div>  
    </div>
     
  </div>

  <div class="banner-ps">
    <% if current_user.id == @profile.id %>
      <%=  %>
    <% elsif @all_ratings == 0 %> 
      <p><%= "* O usuário ainda não possui avaliações, seja o primeiro a negociar com ele!" %></p>
    <% elsif @rating == "☆ ☆ ☆ ☆ ☆" %>
      <p><%= "* O usuário ainda não possui avaliações, seja o primeiro a negociar com ele!" %></p>
    <% end %>
  </div>

  <div class="row d-flex">
    <div class="col-12 profile-info btn-show-profile mb-5">
      <% if current_user == @profile %>
        <%= link_to 'Adicionar um novo produto', new_product_path, class: 'btn btn-primary add-product mr-4' %>
      <% end%>
    </div>
  </div>

<div class="info-available"></div>
<div class="info-not-available"></div>
  <div class="row d-flex">
    <% if @available %>
      <% @profile.products.order('created_at DESC').each do |product| %>
        <% next unless product.available %>
        <div class="d-flex img-profile col-4">
        <%#= esta lógica está quebrando!!! Funciona somente quando o usuário só tem uma foto %>
          <%= cl_image_tag(product.photos.first.key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ') %>
          <div class=" btn-edit-delete-container"> 
          <% if current_user == product.user %>
            <div class="edit-delete-btn">
              <%=link_to 'Editar', edit_product_path(product), class: 'btn btn-edit btn-img-profile' %>
              <%=link_to 'Arquivar', arquive_product_path(product), method: :patch, class: 'btn btn-arquive btn-img-profile'%>
              <%=link_to 'Deletar', product_path(product), method: :delete, class: 'btn btn-delete btn-img-profile mr-2' %>
            </div>
          <%end%>
          </div>
        </div>
      <%end%>
    <%else%>
      <%if @profile = current_user%>
        <div class="dont-have-products-title-btn">
          <div class="dont-have-products">
            <h3>Você ainda não possui roupas no seu armários!!</h3>  
            <%= link_to 'Adicione sua primeira roupa!!', new_product_path, class: 'btn btn-primary add-product mr-4' %>
          </div>
        </div>
      <%else%>
        <div class="dont-have-products-title-btn">
          <h3><%= @profile.first_name %> ainda não possui roupas em seu armário!</h3>
        </div>
      <%end%>
    <%end%>
  
  </div>


<%# link_to review %>
</div>

  <%= render "shared/footer" %>
