<%= render "shared/navbar" %>
<div class="container mt-3">
  <div class="row d-flex justify-content-center ">
    <div class="col-11 my-3 banner-clothes">
      <% product = @products.first %>
      <%= link_to product_path(product) do %>
        <% if product.photos.present? %>
          <div class="card-category py-3"
               style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(128,128,128,0.1)), 
               url('<%= cl_image_path product.photos.first.key %>')">              
        <% else %>
          <div class="card-category py-3" 
               style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(128,128,128,0.1)), 
               url('https://source.unsplash.com/featured/?roupas')">
        <% end %>
        <%= product.name %>
        </div>
      <% end %>
    </div>
    <div class="col-1 my-3">
      <div class='d-flex align-items-center arrow'>
        <%= link_to products_path do  %>
          <i class="fas fa-chevron-right"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="btn-trade">
    <div class='d-flex justify-content-end mb-3'>
      <%= link_to "Eu quero!", new_product_trade_path(product), class: 'btn btn-warning rounded' %>
    </div>
  </div>
</div>