<%= render "shared/navbar" %>
<div class="container container-forms form-group">
  <h2 class = 'my-3'>Crie um novo produto!</h2>

  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name, label: 'Nome do seu anúncio'%>
    <%= f.input :buyable, label:'A roupa está a venda?'%>
    <%= f.input :exchangeable, label:'Aceita troca nessa roupa?'%>
    <%= f.input :price, label:'Caso esteja à venda, qual o preço?'%>
    <%= f.input :category, collection:Product::CATEGORIES, label:'Qual o estilo da sua roupa?'%>
    <%= f.input :product_type, collection:Product::PRODUCT_TYPE, label:'Qual o tipo da sua roupa?'%>
    <%= f.input :size, collection:Product::SIZE, label:'Qual o tamanho?'%>
    <%= f.input :description, label:'Descreva a sua roupa'%>
    <%= f.input :photos, as: :file, input_html: {multiple: true} %>
    <%= f.submit "Terminei", class: 'btn btn-success mt-3 btn-create' %>

  <% end %>
</div>

<footer>
  <%= render "shared/footer" %>
</footer>