<%= render "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="banner-user", style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(128,128,128,0.1)), 
                  <%# url('<%= cl_image_path @product.first.photo.key, transformation: [{crop: "crop", width: 900, height:1400},{width: 200, height: 400, gravity: 'auto', crop: "fill", quality: 100}] %>')"> 
      <div class="avatar-large">
        <%# <%= cl_image_path @product.user.photo.key %> 
      </div>
      <div class="name-rating">
        <%= @product.user.first_name %> 
        <%# <%= @product.user.rating %>       
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <i class="fas fa-play"></i>
    </div>
    <div class="col-8">
        <img src="https://i.pinimg.com/originals/62/8e/70/628e70b4b2bb4e1dc7d7828ab41957f9.jpg" width = "200" height = "200" alt="">
    </div>
    <div class="col-2">
      <i class="fas fa-play"></i>
    </div>
  </div>

  <div class="card-description">

    <%= @product.name %>

    <div class="row">
      <div class="col-4">
        <h5 class="tag"><%= @product.product_type %></h5>
      </div>
      <div class="col-4">
        <h5 class="tag"><%= @product.category %></h5>
      </div>
      <div class="col-4">
        <h5 class="tag"><%= @product.size %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="description-box">
          <%= @product.description %>
        </div>
      </div>
    </div>
  </div>
</div>

      <%# <% @product.photos.each do |photo| %>
        <%# <%= cl_image_tag photo.key, transformation: [{crop: "crop", width: 900, height:1400},{width: 200, height: 400, gravity: 'auto', crop: "fill", quality: 100}] %>
      <%# <% end %>
