<%= render "shared/navbar" %>
<div class="container">

  <div class="row"> 

    <div class="banner-user", style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(128,128,128,0.1)), 
                                     url('')"> 

      <div class="col-9 text-center">
        <div class="banner-armario">
          <h1 class= 'profile-title'>Armário do <%= @product.user.first_name %> <%= @product.user.last_name %></h1>
          <p class='profile-description'><%= @product.user.rating.nil? ? "Novo usuário, seja o primeiro a negociar com ele!" : '⭐' * @product.user.rating %></p>

        </div>
      </div>
    
      <div class="col-3 d-flex justify-content-center">
        <div class="avatar-large">
          <% if @product.user.photo.present? %>
            <%= cl_image_tag @product.user.photo.key, class: "avatar-large" %>
          <% else %>
            <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "avatar-large" %>
          <% end %>
        </div>  
      </div>

    </div> 
  </div>

  <div class ="row d-flex justify-content-center pb-3 m-3">
    <h2 class="title-filo"><%= @product.name %> </h2>
    <% if @product.price.present? %>
      <h2 class="tag-price d-flex align-items-center">$<%= @product.price %></h2>
    <% end %>
  </div>
 
  <div id="carousel-filo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">  
      <div class="carousel-item active ">
        <div class="d-flex justify-content-center">
          <%= cl_image_tag(@product.photos[0].key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ') %>
        </div>
      </div>
      <% if @product.photos[1].present? %>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
           <%= cl_image_tag(@product.photos[1].key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ')  %>
          </div>
        </div> 
      <% end %>
      <% if @product.photos[2].present? %>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
           <%= cl_image_tag(@product.photos[2].key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ')  %>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-filo" role="button" data-slide="prev">
      <i class="fas fa-chevron-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-filo" role="button" data-slide="next">
      <i class="fas fa-chevron-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row mt-5">
    <div class="col-2">
      <% if @product.product_type.present? %>
        <h5 class="tag"><%= @product.product_type %></h5>
      <% end %>
    </div>

    <div class="col-2">
      <% if @product.category.present? %>
        <h5 class="tag"><%= @product.category %></h5>
      <% end %>
    </div>

    <div class="col-2">
      <% if @product.size.present? %>
        <h5 class="tag"><%= @product.size %></h5>
      <% end %>
    </div>
    
    <div class="col-2">
      <% if @product.buyable == true %>
        <h5 class="tag"> VENDA!</h5>
      <% else %>
        <h5 class="tag-indis"> VENDA!</h5>
      <% end %>
    </div>

    <div class="col-2">
      <% if @product.exchangeable == true %>
        <h5 class="tag"> TROCA!</h5>
      <% else %>
        <h5 class="tag-indis"> TROCA!</h5>
      <% end %>
    </div>

    <div class="row card-description mt-4">
      <div class="col-12">
        <%= @product.description %>
      </div>
    </div>
  <br>
  <br>
  <br>
  </div>
</div>

      <%# <% @product.photos.each do |photo| %>
        <%# <%= cl_image_tag photo.key, transformation: [{crop: "crop", width: 900, height:1400},{width: 200, height: 400, gravity: 'auto', crop: "fill", quality: 100}] %>
      <%# <% end %>

