<%= render "shared/navbar" %>
<%= render "shared/banner-user" %>

<div class="container"> 

 <div id="carousel-filo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">  
      <div class="carousel-item active ">
        <div class="d-flex justify-content-center">
          <%= cl_image_tag(@product.photos[0].key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ') %>
        </div>
      </div>
      <% if @product.photos[1].present? %>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
           <%= cl_image_tag(@product.photos[1].key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ')  %>
          </div>
        </div> 
      <% end %>
      <% if @product.photos[2].present? %>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
           <%= cl_image_tag(@product.photos[2].key, transformation:[{crop: 'crop', width: 600, height: 600}, {crop: 'fill', width: 350, height: 350, gravity: 'auto', quality: 100}], class: 'img-fluid ')  %>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-filo" role="button" data-slide="prev">
      <i class="fas fa-chevron-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-filo" role="button" data-slide="next">
      <i class="fas fa-chevron-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
<%# 
  <div class="row corrossel-show">
    <div class="col-2">
      <i class="fas fa-play arrow-large"></i>
    </div>
    <div class="col-8">
        <img src="https://i.pinimg.com/originals/62/8e/70/628e70b4b2bb4e1dc7d7828ab41957f9.jpg" width = "200" height = "200" alt=""> <%# atualizar com a product.photo.key%>
    <%# </div>
    <div class="col-2">
      <i class="fas fa-play arrow-large"></i>
    </div>
  </div> %>

  <div class="card-description">

    <%= @product.name %>

    <div class="row">
      <div class="col-4">
        <h5 class="tag"><%= @product.product_type %></h5>
      </div>
      <div class="col-4">
        <h5 class="tag"><%= @product.category %></h5>
      </div>
      <div class="col-4">
        <h5 class="tag"><%= @product.size %></h5>
      </div>
    </div>

    <div class="row card-description">
      <div class="col-12">
        <div class="description-box">
          <%= @product.description %>
        </div>
      </div>
     </div>
   </div>
 </div>
</div>

      <%# <% @product.photos.each do |photo| %>
        <%# <%= cl_image_tag photo.key, transformation: [{crop: "crop", width: 900, height:1400},{width: 200, height: 400, gravity: 'auto', crop: "fill", quality: 100}] %>
      <%# <% end %>

        <%# <img class="d-block w-40" src="https://i.pinimg.com/564x/86/02/db/8602db4270cc118a3da0495d1e374304.jpg" alt="Second slide"> %>
        <%# <img class="d-block w-40" src="https://i.pinimg.com/564x/86/02/db/8602db4270cc118a3da0495d1e374304.jpg" alt="Second slide"> %>
        <%# <img class="d-block w-40 m-5" src="https://i.pinimg.com/originals/62/8e/70/628e70b4b2bb4e1dc7d7828ab41957f9.jpg" alt="First slide"> %>